div {
    margin-top: 5px;
    
}

.form-control{
    width: 80vh;
    min-width: 50%;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    
}

.form-label{
    font-size: 20px;
    padding-bottom: 2px;
}

form{
    margin-bottom: 50px;
}

button{
    font-size: 18px;
}

