div{
    min-width: 100%;
}

table{
    min-width: 80%;
    margin-bottom: 40px;
    background-color: aliceblue;
    
}

th{
    text-align: left;
    padding: 2px;
    background-color: lightgrey;
    padding: 15px;
}

th.save, th.delete{
    text-align: center;
}

td{
    padding: 15px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

